<article class="product-detail">

    <div class="img-wrapper">
        <img src="/assets/images/{{product.image}}" alt="Image of {{product.name}} ">
    </div>
    <div class="content">
        <header class="header">
            <h1 class="title">{{ product.name }}</h1>
            <p class="price ">{{ product.price }} USD</p>
        </header>         

        <form (ngSubmit)="addToCart()" class="product-form" >
            <fieldset [disabled]="isFieldsetDisabled" >
                <div class="product-form">
                    <div>
                        <app-qty-controller
                            [quantity]="quantity"
                            [stock]="(product.stock - totalBookedQty)"
                            (quantityChange)="updateQuantity($event)"
                        ></app-qty-controller>
                        <p class="available-stock" [class]="!product.stock ? 'sold-out' : '' " >Available stock {{ product.stock }}</p>
                    </div>
                    <button type="submit" class="btn" >{{ buttonText }}</button>
                </div>
                <div *ngIf="errorMessage && (product.stock - totalBookedQty) < 0 " class="error-message">
                    {{ errorMessage }}
                </div>
            </fieldset>
        </form>
        <div class="shipping">
            <h2 class="secondary-title">Shipping</h2>

            <p>All Taxes & Duties included</p>
            <p>Estimated delivery time 1-3 business days</p>
            <p>Free DHL Express carbon compensated shipping</p>
        </div>

    </div>

</article>