@import './../../../../styles/variables';

.product-detail {
    display: flex;
    flex-direction: column;
    gap: $spacing-grid;
    .img-wrapper {
        align-self: center;
        @media($md) {
            max-width: 90%;
        }
        @media($lg) {
            align-self: flex-start;
            max-width: 100%;
        }
        img {
            max-width: 100%;  
        }
    }
    @media($lg) {
        flex-direction: row;
        > * {
            // background-color: rgba(255, 192, 203, 0.303);
            flex-basis: 50%;
        }     
    }
    .content {
        font-weight: 200;
        text-transform: uppercase;

        p, * p {
            text-transform: none; 
        }

        @media($sm) {
            padding: clamp($spacing-outer, 8.33vw - $spacing-outer, 7.5rem);
        }
        @media($lg) {
            padding: clamp($spacing-outer, 6.33vw  - $spacing-outer, 5.5rem);
        }
        @media($lg) {
            padding: clamp($spacing-outer, 8.33vw - $spacing-outer, 7.5rem);
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: $spacing-xl;
            .title {
                margin-bottom: 0;
                font-size: $size-heading-s;
                @media($md) {
                    font-size: $size-heading-m;
                }
            }
        }

        .shipping {
            p {
                margin-bottom: $spacing-s;
            }
        }

        .product-form {


            // background-color: rgba(255, 192, 203, 0.277);
            display: flex;
            flex-direction: column;
            gap: $spacing-grid;

            height: fit-content;
            max-width: 100%;

            font-weight: 200;
            text-transform: uppercase;
            
            @media($sm) {
                flex-direction: row;
                align-items: center;
                gap: $spacing-grid * 2;
            }

            > * {
                flex: 1 0 calc(50% - $spacing-grid);
            }

            .available-stock {
                text-align: center;
                font-size: $size-body-s;
                text-transform: uppercase;
                color: $grey-500;
                margin-top: $spacing-s;
                &.sold-out {
                    text-decoration: line-through;
                }
            }
            
            
        }
        fieldset {
            all: unset;
            margin-bottom: $spacing-xl;

            &:disabled {
                opacity: 0.5 !important;
            }

        }
        
    }
}

