
<ng-container *ngIf="error; else contentSection">
    <app-not-found-page
      CTA="Try again"
      notFoundMessage="Something went wrong, we were unable to find the products you were looking for."
    ></app-not-found-page>
</ng-container>


<ng-template #contentSection  >

    <section class="product-listing" >

        <header class="gallery-header page-header" >
            <h1>Browse our selection</h1>
            <p *ngIf="products" class="title"> <span>{{ products.length }}</span> products</p>
        </header>

        <div *ngIf="products; else skeleton">
        
            <app-products-wrapper [products]="products"></app-products-wrapper>
            
        </div>

        <ng-template #skeleton>
            
        </ng-template>

    </section>
    
</ng-template>
