<ng-container *ngIf="isLoading; else dataSection"> </ng-container>

<ng-template #dataSection>
    <ng-container *ngIf="error; else productSection">
        <app-not-found-page
            [statusCode]="error.statusCode"
            notFoundMessage="we were unable to find the product you were looking for"
        ></app-not-found-page>
    </ng-container>

    <ng-template #productSection>
        <app-product-detail
            *ngIf="product"
            [product]="product"
        ></app-product-detail>
    </ng-template>
</ng-template>
